@page "/"
<div class="my-component" @onclick="submit">
    This Blazor component is defined in the <strong>RazorClassLibrary2</strong> package.
</div>

@code
{
    private void submit()
    { 
    }
}
